.song-title{
  margin-left:10px;

}

.author{
  font-size: 1em;
}

.post-heading{
  margin-bottom: 10px;
  display: inline-block;
}

.menu{
  margin-bottom: 10px;
}

.menu form{
  float:right;
}

.upvote{
  float:right;
}

.welcome-msg{
  font-weight: bold;
  margin-bottom: 5px;
}