.song-title{
  margin-left:10px;

}

.author{
  font-size: 1em;
}

.post-heading{
  margin-bottom: 10px;
  display: inline-block;
}

.menu{
  margin-bottom: 10px;
}

.signing{
  float:right;
}

.list-group-item{
  overflow: hidden;
}

.right-form{
  float:right;
}

.right-form .btn{
  float:right;
  margin:2px;
}

.welcome-msg{
  font-weight: bold;
  margin-bottom: 5px;
}

.error{
  color:red;
  margin-bottom: 10px;
}

form{
  margin: 5px;
}

.rating .label{
  font-size: 100%;
}

.upvotes {
  float:right;
}