<div class="jumbotron"><h1>Add a Song to the Wall</h1></div>

<% if @song && @song.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/" role="form">
  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" name="author" class="form-control" value="<%= @song && @song.author %>">
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" class="form-control" value="<%= @song && @song.title %>">
  </div>
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" name="url" class="form-control" value="<%= @song && @song.url %>">
  </div>
  <div>
    <input class="btn btn-primary" role="button"  type="submit" value="Submit">
    <a href="/" class="btn btn-danger" role="button" >Cancel</a>
  </div>

</form>