<% if @song && @song.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/">
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @song && @song.author %>">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @song && @song.title %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<%= @song && @song.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>