<% if @errors && @errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% if @errors.is_a?(Array) %>
      <%  the_errors = @errors%>
      <% else %>
      <%  the_errors = @errors.full_messages%>
      <% end%>
      <% the_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>