<div class="jumbotron"><h1>Song Wall</h1></div>

<div class="welcome-msg">Welcome <a href="/users/<%= @id %>"><%= @username %></a></div> 

<div class="menu">
<% if @username.nil? %>
  <a href="/users/login" class="btn btn-info" role="button" >Login</a>
  <a href="/users/signup" class="btn btn-info signing" role="button" >Sign up</a>
<% else %>
  <a href="/songs/new" class="btn btn-info" role="button" >Add a song</a>
  <form class="signing" method="post" action="/users/logout" role="form">
    <input class="btn btn-danger" role="button"  type="submit" value="Signout">
  </form>
<% end %>
</div>
<hr />
<%= erb :'/songs_list' %>
